$text-color: rgb(24, 6, 1);
$secondary-color: #5D001E;
$tertiary-color: #E3AFBC;
$fourth-color: #9A1750;
$fourth-color: #EE4C7C;
$body-color: #E3E2DF;

$sans-serif: "Arial", "Helvetica", sans-serif;
$heading-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 95%;
    margin-inline: auto;
    font: {
      family: $sans-serif;
      weight: 300;
    }
    color: $text-color;
  }

.hero {
    min-height: 40vh;
  
    background: {
      color: $tertiary-color;
      size: cover;
      position: center;
    }
}


.navbar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 
 
 >.logo>img{
    max-width: 5rem;
 }
 >ul{
    display: flex;
column-gap: 20px; 
}
}

img{
    max-width: 200px;
}


.headline{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-block: 1rem;

>h1{
    font: {
        weight: 600;
        size: 3rem;
    }
    letter-spacing: 1px;
        
}
>.button-container>.button{
    background-color: $secondary-color;
    border: 1px solid transparent;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-block: 2rem 3rem;
}
}


.hero{
    display: flex;
}

.grid-container{
    display: flex;
    justify-content: space-between;
}